body {
  color: #bbbbbb;
  background-color: rgb(17, 17, 17);
}

.image {
  width: 302px;
  height: 403px;
}

/* Fixed sidenav, full height */
#sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 1);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-width: 0 1px 0 0;
  border-color: rgba(200,200,200,1);
}

/* Fixed sidenav, full height */
#header {
  height: 60px;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}

#header a {
  color: #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Merriweather";
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  padding: none;
}

/* Style the sidenav links and the dropdown button */
#sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #aaaaaa;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}

/* On mouse-over */
#sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
#main {
  position: fixed;
  top: 60px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  font-family: "Merriweather";
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0 10px;
  background-color: #171717;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}

#home-icon {
  width: 20px;
  height: 20px;
}

#ck-icon {
  width: 40px;
  height: 40px;
  float: left;
  padding-right: 5px;
}

/* Add an active class to the active dropdown button */
button.active {
  background-color: #333333;
  color: white;
}

section {
  display: none;
}

section:target {
  display: block;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  overflow: hidden;
  max-height: 0;
  background-color: #111111;
  padding-left: 8px;
  transition: all 0.3s ease-in-out;
}

/* Optional: Style the caret down icon */
.dropdown-icon {
  float: left;
  padding-right: 7px;
  padding-top: 5px;
  color: #656565;
}

.dropdown-icon polyline {
  stroke: rgba(200, 200, 200, 0.8);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transform-origin: 8px 8px;
  transition: all 0.3s ease-in-out;
}

#menu-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 0px;
  top: 0px;
  background-color: transparent;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgb(150, 150, 150);
  transition: all 0.3s ease-in-out;
}

#menu-btn:hover {
  cursor: pointer;
}

#menu-btn line {
  stroke: rgba(200, 200, 200);
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  #sidenav {
    width: 0;
  }
  div#main {
    margin-left: 0px;
  }
}